* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

.advertisement-container {
  width: 100%;
  height: 472px;
  padding: 80px 20px;
  text-transform: uppercase;
  background-color: #fbfbfb;
}

.advertisement-text1 {
  background-color: #576f35;
  border-radius: 12px;
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  display: block;
}

.advertisement-text2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Tablet cihazlar için (768px ve üstü) */
@media (min-width: 768px) {
  .advertisement-container {
    width: 100%;
    height: 408px;
    padding: 100px 32px;
  }

  .advertisement-text1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .advertisement-text2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

/* Desktop cihazlar için (1024px ve üstü) */
@media (min-width: 1024px) {
  #advertisement {
    width: Hug (1280px) px;
    height: Hug (500px) px;
    top: 1556px;
    padding: 0px;
    gap: 10px;
    opacity: 0px;
    margin-top: 0;
  }
  .advertisement-container {
    width: 100%;
    height: 428px;
    padding: 100px;
    margin-top: 0;
  }

  .advertisement-text1 {
    display: inline-block;
    font-size: 76px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .advertisement-text2 {
    display: inline-block;
    font-size: 76px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
