* {
    margin:0;
    padding:0; 
    box-sizing: border-box;
}
.body-section{
    width:100%;
    height:auto;
    padding:100px;
}

.customers-head{
    width: 553px;
    height:192px;
   
    margin:100px 672px 52px 100px;
}


.customers-head >h2 {
    width: 553px;
    height:128px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    line-height: 64px;
    font-size: 64px;
    color:#141414;
    text-transform: uppercase;
    letter-spacing: -1,5%;
    margin-bottom: 24px;
   
}
span {
    color:#576F35;
}

.customers-head >p{
    width: 553px;
    height:40px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
   
    color:#141414;

}

/* sectin 2 */

.customers-reviews>ul {

    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    width:1080px;
    height:248px;
    margin:52px 100px 100px 100px;
    gap:24px;
    justify-content:space-around;
    align-items: center;
    
    
}
.customers-box{
    width:344px;
    height:248px;
    box-sizing: content-box;
    border-radius: 24px;
    border:1px solid #D4BFC4;
    list-style-type: none; 
    
}

.customers-box>.img{
    
    display:flex;
    justify-content: center;
    padding:20px 144px 24px 144px;
    
}
.customers-box>h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    
   
    
}
.customers-box>p{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#A9A9A9;
    display:flex;
    justify-content: center;
    align-content: center;
    padding:8px 28px 20px 28px;

    
   
}

@media  (min-width:768px) and (max-width:1024px){

    .body-section{
        position: relative;
        width:100%;
        height:auto;
        padding:100px 32px;
        background-color: aqua;
        transition: 1s;
    }
    .customers-head{
        position:absolute;
        width: 553px;
        height:192px;
        box-sizing: content-box;;
        margin:100px 183px 52px 32px;
    }
    
    /* yazmaya gerek yok kod üstle aynı */
    .customers-head >h2 {
        width: 553px;
        height:128px;
        font-family: "Inter Tight", sans-serif;       
        font-weight: 600;
        line-height: 64px;
        font-size: 64px;
        color:#141414;
        text-transform: uppercase;
        letter-spacing: -1,5%;
        margin-bottom: 24px;
       
    }
    span {
        color:#576F35;
    }
    /* yazmaya gerek yok kod üstle aynı */
    .customers-head >p{
        width: 553px;
        height:40px;
        font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color:#141414;
    
    }
    
    /* sectin 2 */
    
    .customers-reviews>ul {
        position: absolute;
        display:flex;
        flex-direction: row;
        box-sizing: border-box; 
        width:100%;
        height:auto;
        margin:52px 32px 100px 32px;
        /* gap:32px; */
        overflow:auto;
        justify-content: center;
        
        
    }
    .customers-box{
        width:340px;
        height:248px;
        box-sizing: border-box;
        border-radius: 24px;
        border:1px solid #D4BFC4;
        list-style-type: none; 
        padding:20px;
        gap:24px;
        
        
    }
    
    .customers-box>.img{
        
        /* display:flex; */
        /* justify-content: center; */
        padding:20px 142px 24px 142px;
        
    }
    .customers-box>h3{
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        display:flex;
        /* justify-content: center; */
        text-transform: uppercase;
        padding:24px 124.5px 8px 124.5px;
       
        
    }
    .customers-box>p{
        width:288px;
        height:100px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color:#A9A9A9;
        display:flex;
        justify-content: center;
        align-content: center; 
        padding:8px 26px 20px 26px; 
    
        
       
    }
    


}

@media  (min-width:375px)and(max-width:767px){
    .body-section{
        max-width: 375px;
        max-height:664px;
        margin:80px 20px 40px 20px;
        color: red;
    }
    

    .customers-head{
        width: 335px;
        height:236px;
        box-sizing: border-box;
        margin:80x 20px 4px 20px;
    }

    .customers-head >h2 {
        font-family: "Inter Tight", sans-serif;
        font-weight: 600;
        line-height: 52px;
        font-size: 48px;
        color:#141414;
        text-transform: uppercase;
        letter-spacing: -1,5%;
        margin-bottom: 20px;
       
    }

    .customers-head >p{
        width: 335px;
        height:60px;
        font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
       
        color:#141414;
    
    }





    .customers-reviews {

        display:flex;
        flex-direction: row;
        /* flex-wrap: nowrap; */
        box-sizing: border-box;
        width:100%;
        height: 248px;
        margin:52px 100px 100px 70px;
        gap:24px;
        /* justify-content: center; */
        
        
    }
    .customers-box {
        box-sizing: border-box;
        display: flex;
        width:335px;
        height:228px;
        border-radius: 24px;
        padding:20px 16px;
        border:1px solid #D4BFC4;
        list-style-type: none; 
        
    }

    .customers-box>.img{
    
        /* display:flex; */
        /* justify-content: center; */
        padding:20px 139.5px 24px 139.5px;
        
    }

    .customers-box>h3{
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        display:flex;
        justify-content: center;
        text-transform: uppercase;
        padding:24px 122px 8px 122px;
       
        
    }
    .customers-box>p{
        width:288px;
        height:80px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color:#A9A9A9;
        display:flex;
        justify-content: center;
        align-content: center;
        padding:8px 23.5px 20px 23.5px;
    }
    


   
    

}